{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            background-image: url('https://wallpaperaccess.com/full/2361667.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 100vh;
        }
    </style>
     <div class="container text-center">
        <div class="container-our-works pb-5">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for book in books %}
                    <div class="col-xxl-4 col-lg-6 col-sm-12">
                        <div class="card card-our-works h-100" style="border: 3px solid darkblue">
                            <div class="card-body ">
                                <div class="card-icon">
                                    <a href="{% url "edit" book.id %}" style="font-size: 50px; color: black"><i class="bi bi-pencil-square"></i></a>
                                    <a href="{% url "delete" book.id %}" style="font-size: 50px; color: black"><i class="bi bi-trash"></i></a>
                                </div>
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 20px;">{{ book.author }}</p>
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 18px;">{{ book.email }}</p>
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 15px; border-bottom: 2px solid darkblue">{{ book.text }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}