
{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        {% for book in books %}
          <li class="list-group-item">
            <div class="card-text">
              <strong>{{ book.author }}</strong>: {{ book.text }}
            </div>
            <div class="card-links">
              <a href="{% url 'edit' book.id %}"  <i class="bi bi-shield-x"></i></a>
              <a href="{% url 'delete' book.id %}" <i class="bi bi-vector-pen"></i></a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}