{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            background-image: url('https://wallpaperaccess.com/full/2361667.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 100vh;
        }
    </style>
    <div class="card-body">
      <ul class="list-group">
        {% for book in books %}
          <li class="list-group-item">
            <div class="card-text">
              <strong>{{ book.author }}</strong> {{ book.email }}
              <p class="card-text">{{ book.text }}</p>
            </div>
            <div class="card-links">
              <a href="{% url 'edit' book.id %}"><i class="bi bi-pencil-square"></i></a>
              <a href="{% url 'delete' book.id %}"><i class="bi bi-trash"></i></a>
            </div>
          </li>
          <hr>
        {% endfor %}
      </ul>
    </div>
{% endblock %}
